<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
	<key>CFBundleExecutable</key>
	<string>Locality</string>
	<key>CFBundleIconFile</key>
	<string>locality-mount-logo</string>
	<key>CFBundleIconName</key>
	<string>locality-mount-logo</string>
	<key>CFBundleSymbolName</key>
	<string>square.stack.3d.up</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>locality-mount-logo</string>
			</array>
			<key>CFBundleSymbolName</key>
			<string>square.stack.3d.up</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>ai.codeflash.locality.Locality</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Locality</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
</dict>
</plist>
