<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Locality</string>
	<key>CFBundleExecutable</key>
	<string>LocalityFileProvider</string>
	<key>CFBundleIconFile</key>
	<string>locality-mount-logo</string>
	<key>CFBundleIconName</key>
	<string>locality-mount-logo</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>locality-mount-logo</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>ai.codeflash.locality.Locality.FileProvider</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>LocalityFileProvider</string>
  <key>CFBundlePackageType</key>
  <string>XPC!</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionFileProviderDocumentGroup</key>
    <string>C484HB7Q6S.group.ai.codeflash.locality</string>
    <key>NSExtensionFileProviderDownloadPipelineDepth</key>
    <integer>4</integer>
    <key>NSExtensionFileProviderSupportsEnumeration</key>
    <true/>
    <key>NSExtensionFileProviderUploadPipelineDepth</key>
    <integer>1</integer>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.fileprovider-nonui</string>
    <key>NSExtensionPrincipalClass</key>
    <string>LocalityFileProviderExtension</string>
  </dict>
</dict>
</plist>
